
body{
    margin:0;
    padding: 0;
    background-color:#FFC2B2;

}

.encabezado{
    background-color:#FEBB22;
     margin: 0%;
    width:100% ;
    box-sizing: border-box;
   }

.buscador{
    padding: 0;
    margin: 0; 
    
   }


@media (max-width: 360px){
   
    /*Color icono bars */
    .fa-bars{
        color: #FFFFFF;
        size: 10px;    
    }
     /*Color icono lupa */
    .fa-solid{
        color: #FFFFFF;
        size: 10px;
    }
    /*Color icono boton  */
    .btn {
        color: #FFFFFF;
        size: 10px;}
    
}

#lupa
{
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    
    
}

#barra{
    padding: auto;
    margin-right :1.5rem; 
    color: #FFFFFF;
    

}

#botton{
    color: #FFFFFF;
    margin:10%;
    width: 20%;
}

 /*card  Producto*/
.CalificacionFood{
    color: #FEBB22;
   

   
}

.cardFood{
    background-color: #FFFFFF;
    padding: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
   
}

.contenedor{
    padding: 1rem;
    margin: 0%;
   
}

.imgFood{
    width: 60%;
   
   
}

.inputbuscador{
    height: 2rem;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid white;

   }
 
   .inputbuscador:focus{
    border: 3px dotted  #FEBB22;
    box-shadow: 0px 0px 10px 5px #FFC2B2;
   }




.imgperfil{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    margin-left: 1.5rem;
   }

.celda{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.textoEmpresa{
    text-align: left;
    color: #6C6966;
    font-family: sans-serif;
    font-style: bold;
   
}

.card-text{
    text-align: center;

}

 /*Login */
.formulario{
    width: 290px;
    height: 319px;
    background: #FFFFFF;
    border-radius: 16px;
   
}

 /*Inicio de la modal */

.botonInicio {
    border: 3px dotted  #FEBB22;
    background-color: #FEBB22;
    width: 14rem;
    border-radius: 20px;
    align-items:center;    
}

.control.botonInicio {
 width: 6rem;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: flex-end;
color: #FFFFFF;
    

    
}

 /*Inicio de la modal */

 h1.login {
    margin-top: 1rem;
} 


.login{

width: 50px;
height: 23px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: flex-end;
color: #23033D;
}
/*Contraseña y correo de la modal */
.cc{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    color: #23033D;
 }

 .botonEmail{
    width: 12rem;
    height: 31px;
    background: #D9D9D9;
    border-radius: 12px;
 }

 .botonPassword{
    width: 12rem;
    height: 34px;
    background: #D9D9D9;
    border-radius: 12px;
 }


 .Ellipse{
position: absolute;
width: 20px;
height: 17px;
background: #D9D9D9;

 }
 .rr{
width: 76px;
height: 16px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: right;
color: #23033D;
}
h2.rr {
    margin-left: 2rem;
} 

 /*tarjeta */
 .tarjetas{
    width: 5rem;
    text-align: center;
 }
 
 .tarjetas-2{
     width: 4rem;
     text-align: center;
  }
 

 /* menu */
 .menu {
    width: 0;
    border-radius:20px ;
    background-color: #FFFFFF;
    color: #6C6966;

 }
 
 .navegacion {
    background-color: #FFFFFF;
 }
 


 /* Targeta de pago */

 .imagen-tarjeta{
    width: 9rem; 
 }

  /* imagen de la tarjeta  */

 .text-tarjeta{
     color: #FFFFFF;
     width: 183px;
     height: 29px;
     font-family: 'Inter';
     font-style: normal;
     font-weight: 700;
     font-size: 24px;
     line-height: 29px;
     text-align: end;
     /* identical to box height */
     
    
 }
 
 .text-imagen{
    text-align: center;
    margin-bottom:2rem;
 }
 
 .text-pago{
    width: 47px;
    height: 23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: flex-end;
    color: #23033D;
    
 }
 /*tarjeta */
 .numero-tarjeta{
    width: 113px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    color: #23033D;  
 }

 .btn-ccv{
    width: 113px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    color: #23033D;  
 }
 

  /*Boton pago */

 .botonpago{
    width: 271px;
    height: 31px;
    background: #D9D9D9;
    border-radius: 7rem;
    
 }
 
 .btn-enviar{
    background:  #FEBB22;
    border-radius: 20px;
    align-content: center;
    align-items: center;
 }

 .btn-enviar{
   color: #FFFFFF;
 }

 /*pagina 6 detalle del prodcto*/

.dp-h1{
  /* ordenes */
width: 274px;
height: 24px;
font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
/* identical to box height */
letter-spacing: 0.02em;
color: #6C6966;
}

.dp-pp{
    width: 203px;
    height: 60px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.02em;
    color: #6C6966;
    
  }
  
  .dp-p{
    width: 101px;
    height: 18px;
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: 0.02em;  
    color: #F9AA13;
    text-align: right;
  }

 /*Nav menu */
  .menu-nav{
    align-items: center;
    width: 2rem;
    width: 1rem;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #6C6966;
  }


.contenedor-menu{
width: 0rem;
height: 0rem;
}

.btn-style{ 
   width: 1rem !important; ;
    height: 1rem ;
    background-color:#6C6966 !important; 
}

