.body-color{
    background-color: #FFC2B2 !important;

}
@media (max-width: 360px){
    /*Diseño navbar*/
    .nav-color{
        background-color: #FEBB22;
     }
     /*Color icono hamburguesa*/
     .fa-bars{
         color: #FFFFFF;
         
     }
     /*btn icono hamburguesa*/
     .btn-style{
         background-color:#FEBB22;
         border: 0;
     }
     /*Menu lateral izquierdo*/
     .menu{
         width: 200px;
         height: 640px;
        
     }
     .dropdown-item {
         margin-top: 1rem;
     }
     .dropdown-menu menu{
         margin-top: 0;
     }
     /*iconos menu lateral izq*/
     .icon{
         margin-right: 1rem;
     }
     /*****************************************************************************/
       /*Nav bar*/
       .fa-bars{
        height: 2rem;
        
       }


       .input-buscador{
        height: 2rem;
        width: 13rem;
        background-color: #FFFFFF;
        border-radius: 5px;
        border: 1px solid white;
        color: #FFC2B2;
        
       }
       .input-buscador:focus{
        border: 3px dotted  #FEBB22;
        box-shadow: 0px 0px 10px 5px #FFC2B2;


       }
    .imgperfil{
        width: 3rem;
        margin-bottom: 14px;
        height: 3rem;
        border-radius: 100%;
        margin-left: 1.5rem;
       }
       .celda{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }

    .i{   

    color: #6C6966;
   }


 .i {

    font-weight: 2rem;
    color: #6c757d;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
}
    /* identical to box height */
    
    
     /*end Nav bar*/

     /*Div publicidad*/
    .div-public1{
     margin-top: 20px;
     margin-right: 5px
     
    }
    .img-log{
     width: 200px;
     height: 200px;
    
    }
    .img-public{
     width: 150px;
     height: 150px;
     border-radius: 200px;
     
     
    }
    .img-publiH{
     width: 135px;
     height: 120px;
     margin-top: 29px;
     margin-right: 8px;
    }
 
    .div-public3{
     display: flex;
     justify-content: space-around;
     margin-top: 25px;
     margin-right: 5px;
     margin-left: 10px;
    }
    .div-inicio{
     background-color: #FFFFFF;
    }
    .div-homer{
     background-color: #FFFFFF;
     border-radius: 10px;
     width: 340px;
     height: 150px;
     margin: 10px;
     margin-top: 0;
     display: flex;
     justify-content: space-around;
    }
    .text-colorA{
     color: #FEBB22;
     margin-left: 15px;
     margin-top: 10px;
   
    }
    .text-colorB{
     color: rgba(128, 0, 128, 0.685);
     margin-left: 15px;
     margin-top: 10px;
    }
    .div-inicio{
     display: flex;
     justify-content: space-around;
     font-size: 13px;
     border-color:rgba(128, 0, 128, 0.685) ;
     height: 25px;
     width: 170px;
     margin-left: 5px;
     margin-right: 20px;
    }
    
    .btn-inicio{
     background-color:  #FEBB22;
     color: #FFFFFF;
     border-radius: 15px;
     border: 0;
     cursor: pointer;
    }
    .btn-inico:hover{
     background-color:  #f59f00;
     text-decoration: underline;
    }


    /*Bloqueo de contenido*/
    #contenido-1{
        display: none;
    }
    #contenido-2{
        display: block;
    }
    #contenido-3{
        display: none;
    }
    #contenido-4{
        display: none;
    }
    #contenido-5{
        display: none;
    }
    #contenido-6{
        display: none;
    }
    #contenido-7{
        display: none;
    }
    #contenido-8{
        display: none;
    }
    /**********************************************************************************************/
    /*Contenidos de submenus*/
    #sub-notificacion{
        display: none;
    }
       /************************************************************************************************************************/
/*Modal Inicio sesión*/
.modal-inicio{
    margin-top: 40%;
  }
  
  .btn-ini{
     margin-left: 6.5rem;
  }
  .f-modal{
      margin-right: 2.5rem;
  }


/****************************************/
/****************Inicio de Secion************************/
  .modal-container {
   background-color: #FFFFFF;
   width: 270px;
   height: 16rem;
   margin: auto;
   position: relative;
  }
  .modal-form{
  text-align: center;
  color: rgba(150, 148, 148, 0.521);
  
}
.btn-modal{
  font-size: 15px;
  background-color:  #FEBB22;
  color: #FFFFFF;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
  margin-top: 2px;
  
}
.modal-inicio{
    display: flex;
    justify-content: flex-end;
}

.password{
    width: 15rem;
    height: 34px;
    background: #D9D9D9;
    border-radius: 12px;
    
}
.email{
    width: 15rem;
    height: 34px;
    background: #D9D9D9;
    border-radius: 12px;
    
}

.log {
    width: 17rem;
    height: 34px;
    
    margin-top: 20px;
    
    
}
.login{
margin-top: 15px;
margin-left: 15px;
width: 50px;
height: 23px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 23px;
display: flex;
align-items: flex-end;
color: #23033D;
}


.cc{ margin-top: 15px;
margin-left: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 16px;
display: flex;
align-items: flex-end;
color: #23033D;
}


 /*************************************************************************************************/
    .footer-A{
     display: flex;
     justify-content: space-around;
     margin-top: 30px;
     font-size: 10px;
     color: rgba(128, 0, 128, 0.685);
    }
    /*Submenú lateral izq*/
 /*Diseño card Producto*/
.card-Emp{
    width: 340px !important;
    height: 240px !important;
    margin-left: 1.4rem;
    margin-top: 7px !important;
    border-radius: 2rem;
    
}
.imgProducto{
    width: 5rem !important;
    align-items: left!important;
}
}
/*Diseño card empresa*/
.card-img-empresa{
    width: 9rem !important;
    
}
.card-img, .card-img-bottom, .card-img-top {
    width: 50% !important;;
}
.celdaEmpresa,h6{
    display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        text-align: center;
    
}

.celdaprod{
    display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        align-content: center;
    
}

.botonInicio{ 
border: 3px dotted  #FEBB22;
background-color: #FEBB22;
width: 14rem;
border-radius: 20px;
align-items:center;  

}

.control.botonInicio {
    width: 6rem;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   margin-top: 16px;
   display: flex;
   align-items: flex-end;
   color: #FFFFFF;
       
   }
   